section.main {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 25px;
    display: grid;
    grid-template-columns: 350px 280px;
    column-gap: -100px;
    justify-content: center;

}

div.left-section {
    display: flex;
    flex-direction: column;
}

div.left-section img {
    width: 210px;
    height: 310px;
    object-fit: cover;
    border-radius: 10px;
}

div.left-section h1.contact-title, h1.skills-title {
    font-weight: 28px;
    color: white;
    background-color: #007EB9;
    padding: 3px 20px;
    display: inline-block;
    border-radius: 10px;
}

div.left-section div.personal-informations-contact p{
    margin-top: -15px;
}

div.left-section div.personal-informations-contact div.personal-information-item h3.email-title, h3.address-title, h3.phone-title, h3.social-media-title {
    color: #007EB9;
    text-transform: uppercase;
    margin-top: -1px;
}

div.left-section div.skills h1.skills-title {
    margin-top: 10px;
}

div.left-section div.skills div.personal-skills {
    margin-top: -25px;
    margin-left: -25px;
}

div.left-section div.skills div.personal-skills ul li {
    margin-bottom: 15px;
}

div.right-section {
    padding-top: 50px;
}

div.right-top-section h1.first-name, h1.last-name {
    font-size: 64px;
    color: #59595B;
    text-transform: uppercase;
    text-align: center;
}

div.right-top-section h1.last-name {
    margin-top: -55px;
    color: #007EB9;
}

div.right-top-section div.position {
    margin-top: -50px;
}

div.right-top-section div.position p.job-position {
    text-align: center;
    background-color: #59595B;
    color: white;
    font-weight: 600;
    border-radius: 20px;
    padding: 3px ;
}

div.right-top-section div.personal-record {
    margin-top: 30px;
}

div.right-top-section div.personal-record p.history {
    text-align: justify;
} 

div.right-section div.education {
    margin-top: -15px;
}

div.right-section div.education h1.education-title, h1.experience-title {
    font-weight: 28px;
    color: white;
    background-color: #007EB9;
    padding: 3px 20px;
    display: inline-block;
    border-radius: 10px;
    text-transform: uppercase;
}

div.right-section div.education ul {
    margin-top: -15px;
    margin-left: -25px;
}

div.right-section div.education ul li {
    margin-top: 15px;
}

div.right-section div.education ul li.education-place {
    color: #007EB9;
    font-weight: bold;
}

div.right-section div.education span.education-time {
    color: black;
    font-weight: 500;
}

div.right-section h3.internship {
    font-size: 16px;
    margin-top: -5px;
    color: #007EB9;
    
}

div.right-section span.internship-place {
    display: inline-block;
    color: black;
    font-weight: 500;
    margin-top: 5px;
}

div.right-section div.experience ul {
    margin-left: -25px;
}

